body {
    color: rgb(0, 0, 0);
    background-color: rgb(43, 150, 226);
    font-family: Arial, Helvetica, sans-serif;
}

img {
width: 300px;
height: 400px;
}

h2 {
color: rgb(0, 11, 128);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: 'Times New Roman', Times, serif;
}

img {
border-style: double;
border-color: red;
}

a {
display: inline-flex;
color: red;
}

a:hover {
color: green;
}

div {
    display: flex;
    justify-content: center;
}

p:nth-child(odd) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
}

p:nth-child(even){
color: aqua;
font-family: 'Times New Roman', Times, serif;
}