.brojevi {
  display: flex;
  justify-content: left;
  align-items: center;
}
.forma {
  display: block;
}
.label {
  display: block;
  padding: 5px;
}
.ispis-cntnr {
  display: flex;
  justify-content: center;
  text-align: center;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 100px;
  height: 30px;
}
